.animations{
    margin-top: 20px;
    margin-bottom:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    div{
        display:inline-block;
        width:12px;
        height:12px;
        margin:4px;
        border-radius: 50%;
        background-color:#1E86FF;;
        animation-name:load;
        animation-timing-function: ease-in-out; 
        animation-duration:1.1s ;  
        animation-delay:calc(0.1s * var(--i));
        animation-iteration-count: infinite;
        @keyframes load {
            0%{
                transform:translateY(0px) ;
            }
            20%{
                transform: translateY(-10px) scale(1.2);
            }
            40%{
                transform: translateY(0px);
            }
        }
      }
  }
 
 
    