$background : #F2F2F2;


.app{
  min-height: 100vh;
  display:grid;
  grid-template-columns: 50px 1fr 50px;
  background:$background ;
  
  @media screen and (max-width:1100px){
    grid-template-columns: 20px 1fr 20px;
  }
  @media screen and (max-width:600px){
    grid-template-columns: 10px 1fr 10px;
  }
  .mainContainer{
    grid-column: 2/3;
    .header{
      font-size:1.6rem;
      font-family: poppins;
      font-weight: 500;
      &__bold{
          font-weight: 700;
      }
  }
  }
}
.footer{
  text-align:center;
  color: #B9BDCF;
  a{
    text-decoration:none;
    color: #B9BDCF !important;
  }
}

